* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

.encabezado {
    text-align: center;
    padding: 1rem;
}

.preguntas {
    text-align: left;
    padding: 5rem;
    letter-spacing: 1px;
    word-spacing: 4px;
    box-sizing: border-box;
}

/* Mobile devices */
@media screen and (max-width: 480px) {
  /* Mobile styles */
}

/* Tablets */
@media screen and (max-width: 768px) {
  /* Tablet styles */
}

/* Laptops */
@media screen and (max-width: 1024px) {
  /* Laptop styles */
}

/* Desktop */
@media screen and (min-width: 1025px) {
  /* Desktop styles */
}